<a href="https://colab.research.google.com/github/Ahowardjr/MSSP6070/blob/main/Week_2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
spam = [2,4,6,8,10]
spam[2] = 'hello'

In [10]:
letters = [ 'a','b','c','d']
letters [int(int('3'*2)//11)]

'd'

'3' is a string and was multipled by 2, just repeating the number. So '3' *2 = '33
int ('33') //11.
int 33/11 = 3
Int(3)
Index D = 3 as the indexes start at 0 value (a=0, b=1, c=2, d=3)

In [12]:
letters [-1]

'd'

In [15]:
letters [:2]

['a', 'b']

In [21]:
my_list = [1,2,3,4,5]
my_tuple = tuple(my_list)

new_list = list(my_tuple)
print("List:", new_list)

List: [1, 2, 3, 4, 5]

In [30]:
spam = ['apples, bananas, tofu, cats']
"apple, banans, tofu, and cats"
def comma_code(items):
    pass

In [60]:
def comma_code(items) :
    if len(items) == 0:
      return ''
    elif len (items) == 1:
      return items[0]
    else:
      return ','.join(items[:-1]) + ', and ' + items[-1]

In [79]:
spam = ['apples', 'bananas', 'tofu', 'cats']
print(comma_code(spam))
print(comma_code(['apples']))
print(comma_code(['apples', 'bananas']))
print(comma_code([]))

apples,bananas,tofu, and cats
apples
apples, and bananas

In [80]:
spam = ['rain', 'snow', 'wind', 'sun']
print(comma_code(spam))

rain,snow,wind, and sun

In [56]:
list1 = []
result1 = comma_code(list1)
print(f"Input: {list1}")
print(f"Output: '{result1}'")

Input: []
Output: ''

In [48]:
# Example 1: An empty list
list1 = []
result1 = comma_code(list1)
print(f"Input: {list1}")
print(f"Output: '{result1}'")

Input: []
Output: ''

In [47]:
def comma_code(spam):
    if len(spam) == 0:
        return ''
    elif len(spam) == 1:
        return spam[0]
    else:
        return ', '.join(spam[:-1]) + ', and ' + spam[-1]